<section class="reasons" id="reasons3">
    <div class="gridWrapper">
        <h2 class="gridWrapper__title">3 reasons to love her</h2>
        <include src="./articles.html" title="She is loyal"
            text="You can always count on her, she'll be there for you.">
        </include>
        <include src="./articles.html" title="She is playful" text="Funny, and of course, naughty sometimes.">
        </include>
        <include src="./articles.html" title="She is sensitive" text="She'll comfort you whenever you need it.">
        </include>
        <div class="gridWrapper__button">
            <a class="gridWrapper__button--link" href="./extra-page.html" title="More reasons" target="_blank">More
                reasons</a>
        </div>
    </div>
</section>