<section class="reasons" id="reasons3">
    <div class="gridWrapper">
        <h2 class="gridWrapper__title">3 reasons to purchase</h2>
        <include src="./articles.html" title="ut sed metus" text="Lorem ipsum dolor sit amet, consecteur.">
        </include>
        <include src="./articles.html" title="urabitur ac erat" text="Mauris mattis urna quis lorem molestie.">
        </include>
        <include src="./articles.html" title="morbi dictum" text="Aliquam in dolor et dolor tincidunt.">
        </include>
        <div class="gridWrapper__button">
            <a class="gridWrapper__button--link" href="../extra-page.html#new" title="More reasons">More
                reasons</a>
        </div>
    </div>
</section>