<footer>
    <div class="fWrapper">
        <div class="Footer__buttom">
            <a href="#top" class="foote__buttom--link" title="go down"><img src="./assets/images/" alt="go up" />
            </a>
        </div>
        <small> 2021 we love components</small>

        <nav>
            <ul>
                <li>
                    books
                </li>
                <li>
                    events
                </li>
                <li>
                    reasons
                </li>
                <li>
                    tips
                </li>
            </ul>
        </nav>
        <nav>

            <ul>
                <li>
                    twitter
                </li>
                <li>
                    instagram
                </li>
                <li>
                    mastodon.social
                </li>
            </ul>
        </nav>
</footer>

</body>

</html>