<footer class="footer">
    <div class="fWrapper">
        <div class="fWrapper__buttom">
            <a href="#top" class="fWrapper__buttom--link" title="go down"><img src="./assets/images/" alt="go top" />
            </a>
        </div>

        <div class="fWrapper__container">
            <div class="copy">
                <small class="copy__year"> &copy;2021 </small>
                <span class="love">we
                    <i class="fa fa-heart" title="heart"></i>
                    components</span>
            </div>
            <nav class="fWrapper__menu">
                <ul>
                    <include src="./link.html" goto="Go to articles" way="articles"></include>
                    <include src="./link.html" goto="Go to books" way="books"></include>
                    <include src="./link.html" goto="Go to events" way="events"></include>
                    <include src="./link.html" goto="Go to reasons" way="reasons"></include>
                    <include src="./link.html" goto="Go to tips" way="tips"></include>
                </ul>
            </nav>
            <nav class="fWrapper__rrss">
                <ul>
                    <li>
                        <a href="https://www.adalab.es" title="Go to Twitter" target="_blank">twitter</a>
                    </li>
                    <li>
                        <a href="https://www.adalab.es" title="Go to Instagram" target="_blank">instagram</a>
                    </li>
                    <li>
                        <a href="https://www.adalab.es" title="Go to Mastodon.social"
                            target="_blank">mastodon.social</a>
                    </li>
                </ul>
            </nav>
        </div>
</footer>