<section class="cover" id="top">
    <div class="hero">
        <h1 class="hero__title">
            <span class="hero__title--item">Anonymous </span>
            <span class="hero__title--item">proxy</span>
        </h1>
        <p class="hero__claim">In hac habitasse platea dictumst.</h2>
        <div class="hero__buttom">
            <a href="#reasons3" class="hero__buttom--link" title="go down"><img
                    src="./assets/images/ico-scroll-down.svg" alt="go down" title="botón bajar" />
            </a>
        </div>
    </div>
</section>