<section class="cover">
    <div class="hero" id="top">
        <h1 class="hero__title">
            <span class="hero__title--item">anonymous </span>
            <span class="hero__title--item">proxy</span>
        </h1>
        <p class="hero__claim">in hac habitasse platea dictumst.</p>
        <div class="hero__buttom">
            <a href="#3reasons" class="hero__buttom--link" title="go down"><img
                    src="./assets/images/ico-scroll-down.svg" alt="go down" />
            </a>
        </div>
    </div>
</section>