@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}
@mixin title {
  font-family: $slab;
  line-height: 1.875rem;
  text-align: center;
  @include tablet {
    font-size: 1.5rem;
  }
  @content;
}

@mixin text {
  font-family: $regular;
  font-size: 1.125rem;
  line-height: 1.875rem;
  @include tablet {
    font-size: $medium;
  }
  @content;
}

@mixin buttom {
  width: 2.813rem;
  height: 2.813rem;
  background-color: $white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}
@mixin link {
  padding: 0.938rem;
  @content;
}
