#reasons3 {
  width: 100%;
  scroll-margin-top: 1.2rem;
  @include tablet {
    scroll-margin-top: 1.8rem;
  }
}

.reasons {
  width: 100%;
  background-color: $iceBlue;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 15px 60px 15px;

  @include tablet {
  }
  @include desktop {
    padding: 30px 85px 60px 81px;
  }

  &__title {
    @include title {
      font-size: 1.5rem;
      padding-bottom: $tall;
      grid-column: span 3;
    }
    @include tablet {
      font-size: 1.625rem;
      line-height: 2.813rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }
  .article {
    grid-column: span 3;
    text-align: center;
    padding: 0 4.375rem $tall 4.375rem;
    @include tablet {
      grid-column: span 1;
      padding: 0 14px 60px 14px;
      @include desktop {
        grid-template-columns: repeat(400px);
        padding: 0 20px 60px 20px;
      }
    }

    &__title {
      @include title {
        font-size: $medium;
        padding-bottom: 14px;
      }
    }
    &__text {
      @include text {
        padding: 0;
      }
    }
  }

  &__button {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $orange;
    grid-column-start: span 3;
    justify-self: center;
    transition: background-color ease 0.5s;
    &:hover {
      background-color: $white;
      border: 2px solid $orange;
    }
    @include tablet {
      width: 13.125rem;
    }
    @include desktop {
      width: 15.938rem;
    }

    &--link {
      font-size: $medium;
      line-height: $tall;
      font-family: $regular;
      color: $white;
      text-align: center;
      display: block;
      &:hover {
        color: $orange;
      }
    }
  }
}
