#reasons3 {
  scroll-margin-top: 1.2rem;
  @include tablet {
    scroll-margin-top: 1.8rem;
  }
}

.reasons {
  width: 100%;
  background-color: $iceBlue;
  padding: $short 15px $short 15px;
  display: grid;
  grid-template-columns: repeat (3, 1fr);

  @include tablet {
    padding: $short 5.313rem $short 5.313rem;
  }
  &__title {
    @include title {
      font-size: 1.5rem;
      margin-bottom: $tall;
      grid-column: span 3;
    }
    @include tablet {
      font-size: 1.625rem;
      line-height: 2.813rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }

  .article {
    grid-column: span 3;
    text-align: center;
    padding: 0 53px 0 53px;
    @include tablet {
      grid-column: span 1;
      padding: 0 $medium 0 $medium;
    }

    &__title {
      @include title {
        font-size: $medium;
        &::first-letter {
          text-transform: capitalize;
        }
      }
    }
    &__text {
      @include text {
        margin-bottom: $tall;
        padding: 0;
      }
    }
  }

  &__button {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $orange;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    margin-bottom: $short;
    transition: background-color ease 0.5s;
    @include tablet {
      width: 13.125rem;
    }
    @include desktop {
      width: 15.938rem;
    }
    &:hover {
      background-color: $white;
      border: 2px solid $orange;
    }
    &--link {
      font-size: $medium;
      line-height: $tall;
      font-family: $regular;
      color: $white;
      text-align: center;
      display: block;
      &:hover {
        color: $orange;
      }
    }
  }
}
