.footer {
  width: 100vw;
  background-color: $darkBlue;
  position: relative;

  &__buttom {
    @include buttom {
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-shadow: 0 2px 4px $shadow2;

      &--link {
        @include link;
      }
    }
  }
}
.fWrapper {
  padding: 60px 0 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $regular;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 40px 0 40px;
  }
  @include desktop {
    margin: 0 370px;
  }
  &__menu {
    width: 160px;
    margin-bottom: 30px;
    @include tablet {
      text-align: left;
      order: 2;
    }
  }
  &__rrss {
    width: 160px;
    margin-bottom: 30px;
    @include tablet {
      text-align: left;
      order: 3;
    }
  }
  .fLink {
    text-transform: uppercase;
    color: $white;
    line-height: 1.875rem;
  }

  .copy {
    width: 160px;
    color: $white;
    font-family: $regular;
    @include tablet {
      order: 1;
      justify-items: left;
    }

    &__date,
    &__love {
      display: block;
      font-size: 0.875rem;
      line-height: 1.875rem;
      @include tablet {
        text-align: left;
      }

      .fa-heart {
        color: $orange;
        font-size: 0.625rem;
      }
    }
  }
}
