.footer {
  background-color: $darkBlue;
}
.fWrapper {
  width: 100%;

  &__buttom {
    width: $tall;
    height: $tall;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0, -50%);
    margin: auto;

    &--link {
      color: orangered;
      font-size: $medium;
    }

    &__menu {
      margin-bottom: 30px;
      &--fLink {
        text-transform: uppercase;
        color: $white;
        line-height: 1.875rem;
      }
    }
    &__rrss {
      margin-bottom: 30px;
    }
  }

  .fa-heart {
    color: $orange;
    font-size: 0.625rem;
  }
}
&__heart {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $regular;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    align-items: flex-start;
  }
  @include desktop {
    margin: 0 350px;
  }
}
.copy {
  margin-bottom: $tall;
  color: $white;
  order: 1;
  @include tablet {
    order: 0;
  }
  &__date,
  .love {
    display: block;
    font-size: 0.875rem;
    line-height: 1.875rem;
  }
}
