.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 25%, $dark),
    url("../../assets/images/cover.jpg"), no-repeat center;

  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__title {
    color: $white;
    font-family: $slab;
    font-size: 2.625rem;
    line-height: 3.438rem;
    text-shadow: 0 2px 3px $shadow1;
    text-transform: uppercase;
    text-align: center;
    @include tablet {
      font-size: 5rem;
      line-height: 6.625rem;
    }
    @include desktop {
      font-size: 6.25rem;
      line-height: 8.25rem;
      text-shadow: $shadow2;
    }
    &--item {
      display: block;
    }
  }
  &__claim {
    color: $white;
    text-align: center;
    font-family: $regular;
    padding-top: 0.625rem;

    @include tablet {
      font-size: $large;
    }

    &::first-letter {
      text-transform: capitalize;
    }
  }
  &__buttom {
    width: 2.813rem;
    height: 2.813rem;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin-top: 2.813rem;
    margin-bottom: 3.313rem;
    position: relative;
    animation-name: flux;
    animation-duration: 3s;
    transition: all ease 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    @include tablet {
      margin-bottom: 2.813rem;
    }
    @include desktop {
      margin-bottom: 0.813rem;
    }

    &--link {
      padding: 10px;
    }
    &:hover {
      border: 3px solid $orange;
      transform: scale(1.3);
    }
  }
}
@keyframes flux {
  0% {
    box-shadow: 0 0 4px rgba(white, 0.5);
    bottom: 1em;
  }
  50% {
    box-shadow: 0 0 20px rgba(white, 0.5);
    bottom: -0.5em;
  }
  85% {
    box-shadow: 0 0 30px rgba(white, 0.2);
  }
  100% {
    box-shadow: 0 0 4px rgba(white, 0.25);
    bottom: 1em;
  }
}
