.looking {
  width: 100%;
  padding: $short 15px $tall 15px;
  @include tablet {
    padding: 30px 39px 60px 39px;
  }
  @include desktop {
    padding: 60px 275px 60px 275px;
  }
  &__tips {
    line-height: 1.875rem;
    color: $lightBlue;
    font-size: $small;
    font-weight: normal;
    font-family: $regular;
    padding-top: 5.625rem;

    @include tablet {
      font-size: 1rem;
      padding-top: 1.875rem;
    }
  }
  &__title {
    @include title {
      text-align: left;
      font-weight: 700;
      font-size: $large;
      text-transform: capitalize;
      margin-bottom: 15px;
    }
    @include tablet {
      font-size: 1.625rem;
      line-height: 2.813rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }
  &__text {
    @include text {
      text-align: justify;
      color: $grey;
    }
  }
  &__buttom {
    width: 85px;
    height: 40px;
    border: 2px solid $orange;
    background-color: $white;
    border-radius: 22.5px;
    margin-top: 30px;
    transition: all ease 0.5s;
    animation-name: bigger;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    &:hover {
      background-color: rgb(188, 211, 231);
    }

    @include tablet {
      width: 91px;
    }
    @include desktop {
      width: 160px;
    }
    @keyframes bigger {
      from {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }

      90% {
        transform: scale(1);
      }
    }

    &--link {
      display: block;
      color: $orange;
      font-family: $regular;
      font-size: $small;
      padding-top: 10px;
      line-height: normal;
      font-weight: 500;
      text-align: center;
      @include desktop {
        font-size: $medium;
        padding-top: 6px;
      }
    }
  }
}
